.joke-container {
    padding: 1.5rem;
    background-color: #61A1F4;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    text-align: center;
    max-width: 28rem;
    margin: auto;
}
  
.joke-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
  
.joke-text {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}